/* Basic styling */
* {
    padding: 0;
    margin: 0;
  }
body {
  font-family: "copperplate";
  font-size: 12px;
  margin-top: 125px;
}
nav {
  position: fixed;
  top: 0;
  background-color: black;
  padding: 0 15px;
  width:100%;
}
a {
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  padding: 25px;
}

.footer-title {
  display: flex;
  flex-direction: column;
  color:white;
  text-align: center;
}

.footer-item {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  justify-content: center;
}

.footer-item-specifics {
  margin: 25px;
}

.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.logoEmblem {
  width: 50px;
}

.item {
  font-size: 16px;
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* container-one:
-About
-Calendar
-News
-Notifications
*/

.container-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #444;
  margin: 10px;
  margin-bottom: 50px;
}

.container-one-title {
  text-transform: uppercase;
  text-align: center;
  color: black;
  background-color: rgb(115, 108, 108);
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  font-weight: bold;
}

.container-one-item {
  text-align: center;
  color: white;
  padding: 10px;
}


/* container-three:
-Programs
*/

.container-three {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #444;
  margin: 10px;
  margin-bottom: 50px;
}

.container-three-title {
  text-transform: uppercase;
  text-align: center;
  color: black;
  background-color: rgb(115, 108, 108);
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.container-three-item {
  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.programImages {
  height: 150px;
  width: 150px;
}

/* borderless section */
.container-borderless {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 50px;
}

.container-borderless-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold
}

.container-borderless-item {
  text-align: center;
  color: black
}

/* nlc Section */
#nlcPic {
  max-width: 100%;
  border-radius: 8px;
  height: auto;
  padding: 20px;
}

/* Coaches Slider */
.slide {
  display: none;
}
.plant-carousel {
  position: relative;
  display: flex;
  flex-basis: row wrap;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 50%;
  min-height: 20em;
  overflow: hidden;
}
.plant-1, .plant-2, .plant-3 { 
  width: 100px;
  height: 150px;
  border: 2px solid greenyellow;
  background-attachment: fixed;
  background-position: center center;
}
.prev, .next {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
}
.next {
  right: 50px;
  border-bottom: 6px solid #66aa77;
  border-right: 6px solid #66aa77;
  transform: rotate(-45deg);
}
.prev {
  left: 50px;
  border-bottom: 6px solid #66aa77;
  border-left: 6px solid #66aa77;
  transform: rotate(45deg);
}
/* headers and paragraphs */

h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

p {
  padding-left: 30px;
  padding-right: 30px;
}

/* nlc */
#nlc {
  background: url(images/backgrounds/nlc.jpeg);
  background-position: center;
  background-size: cover;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  body{
    margin-top: 150px;
  }
  p {
    font-size: 16px;
  }
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .logoEmblem{
    width: 70px;
  }
  .programImages{
    height: 300px;
    width: 200px;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
  .plant-1, .plant-2, .plant-3 { 
    width: 150px;
    height: 200px;
  }
  .next{
    right: 200px;
  }
  .prev {
    left: 200px;
  }
}



/* Desktop menu */
@media all and (min-width: 960px) {
  body {
    margin-top: 200px;
  }
  p {
    font-size: 20px;
  }
  .somePadding {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .logoEmblem{
    width: 90px;
  }
  .programImages{
    height: 400px;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
  .plant-1, .plant-2, .plant-3 { 
    width: 200px;
    height: 250px;
  }
  .next{
    right: 250px;
  }
  .prev {
    left: 250px;
  }
}