#headLogo {
  width: 7%;
}

.navbarSettings {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #333333;
}

.navbarItems {
  color: white;
}

.dropButton {
  border: 2px solid black;
}

body {
  background-color: black;
}

footer {
  font-weight: bold;
  background-color: #333333;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.footerSettings {
  color: #dddbdb;
}

.footerText {
  color: #dddbdb;
  border: 1px solid #dddbdb;
}

a,
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: white;
}

.containerSettings {
  background-color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: medium;
  border-color: white;
}

.titleCard {
  border-style: solid;
  border-width: medium;
  border-color: black;
  font-weight: bold;
  font-size: 60px;
  background-color: #333333;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  color: white;
}

.picBorder {
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.fighterMemo {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.coachesMemo {
  padding: 10px;
}

.coachesMemoSettings {
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.champPicSpace {
  margin: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.programSpecs {
  padding: 10px;
  margin: 25px;
}

.programTitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.compTitle {
  font-weight: bold;
  font-size: 25px;
  margin-left: -20px;
}

.textCenter {
  text-align: center;
  padding-bottom: 10px;
  font-size: 15px;
}

.cardSettings {
  padding: 10px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  box-shadow: 4px 3px 10px #333333;
  padding: 15px;
  margin: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 24px 0 rgba(0, 0, 0, 0.19);
}

.fightersColumn {
  margin-bottom: 20px;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.fightersSpace {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fightersPics {
  max-width: 125px;
  margin: 10px;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.fightersButton {
  box-shadow: 12px 10px 5px white;
  margin: 25px;
  padding: 10px;
  border: 3px solid white;
}

.profileBorder {
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.button {
  background-color: #333333;
  border: 2px solid white;
  margin: 16px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}

.logoStyle {
  padding-top: 75px;
  text-align: center;
}

.contact {
  text-align: center;
}

.columnButton {
  box-shadow: 12px 10px 5px white;
  padding: 15px;
  margin: 25px;
}

p {
  color: white;
  font-size: 2vh;
  font-weight: bold;
}

i {
  color: white;
}

.arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 8px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
